# Timesheet Analysis

The goal of this notebook is to analyze my timesheet of working hours

In [39]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [65]:
# Connecting to Google Spreadsheet API and getting the desired spreadsheet

scope = ['https://www.googleapis.com/auth/spreadsheets']
creds = ServiceAccountCredentials.from_json_keyfile_name('/home/aiquis/EI/timesheet/client_secret.json', scope)
client = gspread.authorize(creds)

sheet = client.open("Controle de ponto - EI").sheet1

In [66]:
# Storing the content of the spreadsheet on a DataFrame

df = pd.DataFrame(sheet.get_all_records(), columns = ['Data', 'Hora Entrada', 'Hora Sa√≠da', 'Obs'])

df.columns = ['data', 'hora_entrada', 'hora_saida', 'obs']

In [67]:
# Casting columns data types

df['data'] = pd.to_datetime(df['data'], errors='ignore', format="%d/%m/%Y")
df['hora_entrada'] = pd.to_datetime(df['hora_entrada'], errors='coerce', format="%H:%M")
df['hora_saida'] = pd.to_datetime(df['hora_saida'], errors='coerce', format="%H:%M")
df['obs'] = df['obs'].astype('str')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 4 columns):
data            439 non-null datetime64[ns]
hora_entrada    285 non-null datetime64[ns]
hora_saida      284 non-null datetime64[ns]
obs             439 non-null object
dtypes: datetime64[ns](3), object(1)
memory usage: 13.8+ KB
None

In [68]:
df

,data,hora_entrada,hora_saida,obs
0,2016-06-01,1900-01-01 08:15:00,1900-01-01 19:37:00,
1,2016-06-02,1900-01-01 08:26:00,1900-01-01 17:31:00,
2,2016-06-03,1900-01-01 08:08:00,1900-01-01 21:31:00,
3,2016-06-04,NaT,NaT,
4,2016-06-05,NaT,NaT,
5,2016-06-06,1900-01-01 09:31:00,1900-01-01 17:50:00,
6,2016-06-07,1900-01-01 07:59:00,1900-01-01 19:00:00,
7,2016-06-08,1900-01-01 09:57:00,1900-01-01 17:21:00,
8,2016-06-09,1900-01-01 09:32:00,1900-01-01 17:42:00,
9,2016-06-10,1900-01-01 08:42:00,1900-01-01 19:42:00,Trabalhei de casa (BH)
10,2016-06-11,NaT,NaT,
11,2016-06-12,NaT,NaT,
12,2016-06-13,1900-01-01 08:46:00,1900-01-01 17:02:00,
13,2016-06-14,1900-01-01 10:08:00,1900-01-01 19:10:00,
14,2016-06-15,1900-01-01 09:47:00,1900-01-01 19:09:00,
15,2016-06-16,1900-01-01 08:46:00,1900-01-01 17:21:00,
16,2016-06-17,1900-01-01 09:34:00,1900-01-01 19:23:00,
17,2016-06-18,NaT,NaT,
18,2016-06-19,NaT,NaT,
19,2016-06-20,1900-01-01 09:46:00,1900-01-01 18:07:00,
20,2016-06-21,1900-01-01 09:55:00,1900-01-01 19:55:00,
21,2016-06-22,1900-01-01 09:34:00,1900-01-01 17:13:00,
22,2016-06-23,1900-01-01 09:48:00,1900-01-01 17:10:00,
23,2016-06-24,1900-01-01 09:35:00,1900-01-01 20:19:00,
24,2016-06-25,NaT,NaT,
25,2016-06-26,NaT,NaT,
26,2016-06-27,1900-01-01 09:38:00,1900-01-01 18:45:00,
27,2016-06-28,1900-01-01 09:27:00,1900-01-01 19:48:00,
28,2016-06-29,1900-01-01 09:20:00,1900-01-01 19:52:00,
29,2016-06-30,1900-01-01 10:13:00,1900-01-01 19:02:00,
...,...,...,...,...
409,2017-07-15,NaT,NaT,
410,2017-07-16,NaT,NaT,
411,2017-07-17,1900-01-01 09:57:00,1900-01-01 19:58:00,
412,2017-07-18,1900-01-01 09:53:00,1900-01-01 19:39:00,
413,2017-07-19,1900-01-01 10:31:00,1900-01-01 18:56:00,
414,2017-07-20,1900-01-01 09:54:00,1900-01-01 18:00:00,
415,2017-07-21,1900-01-01 09:59:00,1900-01-01 19:03:00,
416,2017-07-22,1900-01-01 18:30:00,1900-01-01 19:30:00,Plant√£o Arquibancada EI + Champions Cup
417,2017-07-23,NaT,NaT,
418,2017-07-24,1900-01-01 09:59:00,1900-01-01 17:10:00,Concrete (Review)
419,2017-07-25,1900-01-01 09:30:00,1900-01-01 18:00:00,Reuni√£o de Feedback + Concrete (Planning)
420,2017-07-26,1900-01-01 10:00:00,1900-01-01 01:00:00,Reuni√£o Concrete (Manh√£) e Plant√£o Champions Cup
421,2017-07-27,1900-01-01 10:19:00,1900-01-01 19:21:00,
422,2017-07-28,1900-01-01 10:01:00,1900-01-01 21:01:00,
423,2017-07-29,1900-01-01 15:00:00,1900-01-01 23:15:00,Opera√ß√£o El Cl√°ssico
424,2017-07-30,NaT,NaT,
425,2017-07-31,1900-01-01 08:56:00,1900-01-01 20:57:00,
426,2017-08-01,1900-01-01 14:14:00,1900-01-01 20:18:00,
427,2017-08-02,1900-01-01 09:49:00,1900-01-01 21:09:00,
428,2017-08-03,1900-01-01 10:05:00,1900-01-01 18:56:00,
429,2017-08-04,1900-01-01 10:05:00,1900-01-01 21:05:00,
430,2017-08-05,NaT,NaT,
431,2017-08-06,1900-01-01 10:30:00,1900-01-01 13:00:00,Plant√£o Arquibancada EI
432,2017-08-07,1900-01-01 08:47:00,1900-01-01 18:35:00,Concrete (Review)
433,2017-08-08,1900-01-01 09:30:00,1900-01-01 19:27:00,Concrete (Planning)
434,2017-08-09,1900-01-01 09:40:00,1900-01-01 18:55:00,
435,2017-08-10,1900-01-01 10:07:00,1900-01-01 20:05:00,
436,2017-08-11,1900-01-01 09:53:00,1900-01-01 20:48:00,Corre√ß√£o de problema na API de cancelamento
437,2017-08-12,NaT,NaT,
438,2017-08-13,NaT,NaT,